<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button menuClose><ion-icon large name="close" style="font-size: x-large;"></ion-icon></button>
      </ion-buttons>
      <ion-title>THC Utils</ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <button ion-item *ngIf="!authService.isAuthenticated()" (click)="authService.login()"><ion-icon name="log-in"></ion-icon> Login</button>
        <button ion-item *ngIf="authService.isAuthenticated()" (click)="authService.logout(); menu.close();"><ion-icon name="log-out"></ion-icon> Logout</button>
      </ion-item>
    </ion-list>

    <ion-item-group>
      <ion-item-divider color="light">Forum</ion-item-divider>
      <ion-item><button ion-item *ngFor="let p of forumPages" (click)="openPage(p)">{{p.title}}</button></ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="light">Quote</ion-item-divider>
      <ion-item><button ion-item *ngFor="let p of quotesPages" (click)="openPage(p)">{{p.title}}</button></ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="light">Stock Management</ion-item-divider>
      <ion-item><button ion-item *ngFor="let p of stockMgmtPages" (click)="openPage(p)">{{p.title}}</button></ion-item>
    </ion-item-group>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
